.Container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.midSection {
    display: flex;
}

.midSection > div {
    display: flex !important;
    flex-direction: column !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pickTime {
    display: flex !important;
    flex-direction: column !important;
}
.chooseDate {
    margin-top: 10px !important;
}

.chooseTime {
    margin-top: 10px !important;
}
@media only screen and (max-width: 815px) {
    body, html { overflow-x:hidden; }

    .midSection {
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .midSection > div {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .dateRange {
        width:100%;
    }
    .chooseDate {
        margin-top: 10px !important;
    }
    .dates {
        border-bottom: 1px solid #2c2c2c;

    }
    .chooseTime {
        margin-top: 10px !important;
    }

}