/* customAppointment class is needed to override the default `overflow` */
.customAppointment.appointment {
    overflow: initial;
}

.appointment.highlight, .customAppointment.appointment:hover {
    background-color: rgb(70, 150, 215);
}

.resizeButtonsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.resizeButton {
    width: 8px;
    height: 8px;
    position: relative;
    background-color: blue;
    cursor: ns-resize;
}

.resizeButtonTop {
    top: -2px;
}

.resizeButtonBottom {
    bottom: -2px;
    margin-top: auto;
}
